doctype html
html(lang="en")
  head
    title Source Code Summary and Tag Highlighter

  body
    h1 Source Code Summary and Tag Highlighter
    #container
      form#urlForm(action='/summary', method='post', enctype='application/x-www-form-urlencoded')
        .form-uname
          lable#urlLabel(for='inputUrl') Enter a URL
          input#inputUrl(type='text' name="inputUrl")
        .form-submit
          submit#submit(value='submit', type='button') Submit

