doctype html
html(lang="en")
  head
    title Source Code Summary and Tag Highlighter
  body
    h1 Source Code Summary and Tag Highlighter
    #container
      .tagSummary
        p!= tags
      .sourceCodeView
        pre!= html
